.about-main{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}

.about-words{
    display: block;
}
.about-salon{
width: 70%;
align-items: right;
}
.about-img-div{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    }
.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
@media (max-width:768px) {
    .about-main{
        margin-left: 0;
        margin-right: 0;
    }
}