
.me-container{
    margin-left: 50px;
    margin-right: 50px;
}
.appointment-card{
    border: 1px solid black !important;
    border-radius: 7px !important;
    box-shadow: 2px 2px 5px#035703 !important;
    background-color: white ;
  
}
.appointment-card-header{
    font-size: 2em;
    text-decoration: underline 2px;
    margin-left: 10px;
}
h2{
    text-decoration: underline 1px;
}
.me-h1{
    font-family: sacramento !important;
    font-size: 4em !important;
   text-shadow: 3px 3px 5px #035703  ;
   text-decoration: underline 2px;
}
.me-rev-card{
    width: 75%;
}
.list-group{
    list-style: none !important;
}
.list-group li::before{
    content:none
}