.services {
    font-family: sacramento !important;
    font-size: 4em !important;
   text-shadow: 3px 3px 5px #d6721a ;
   text-decoration: underline 2px;
}
h2 {
    font-family: sacramento !important;
}
h3 {
    font-family: sacramento !important;
}
h4{
    font-family: sacramento !important;
}
.service-title{
   text-align: center;
   margin-left: -60px;
}
.all-services{
display: flex;
justify-content: space-around;
padding: 20px !important;
margin-left: 50px;
margin-right: 50px;
}
.service-list {
    list-style: none !important;
}

li::before { content: "\2764"; color: black;
display: inline-block; width: 1.2em;
margin-left: -2em;}

@media (max-width: 1000px) {
   .dropdown-menu li::before {content: none}
}

@media (max-width: 768px) {
    .img-left{
        display: none;
    }
    .img-mid{
        display: none;
    }
    .img-right{
        display: none;
    }
    .all-services{
        margin-left: 0;
        margin-right: 0;
    }
}