
/* Basic reset */
* {
  margin: 0 ;
  padding: 0 !important;
  box-sizing: border-box;
}

/* Navbar styles */
.sticky-nav {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  z-index: 1000;
}
.slogan{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.left-title{
  width: 70%;
}
.right-title{
  align-items: end;
  display: flex;
  height: auto;
}
.right{
  display: block;
  font-size: 30px;
  margin: 0;
}
.align{
text-align: right;
}
.right-banner{
  float: right;
  width: 125%;
  height: 300px;
  max-height: auto;
  overflow: hidden;
margin-bottom: -50px;
}

.title-bar {
  display: none;
  justify-content: space-between;
  align-items: left;
  width: 100%;

}

.menu-icon {
  display: none;
}

.top-bar {
  display: flex;
  justify-content: center; /* Centering content horizontally */
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.top-bar-left{
  width: 60%;
}
.top-bar-mid{
  width: 10%;
}

.top-bar-right{
  width: 30%;
}
.menu-pic{
  height: 75%;
  width: auto;
}
  .thmbnail {
    width: 100%;
    height: auto; /* Maintains the aspect ratio */
    margin: 0;
    border: none;
    margin-left: 50px;
  }
  .thumbnail-container {
    width: 75px; /* Adjust the size as needed */
    height: 75px;
    overflow: hidden; /* Ensures the image doesn't overflow the container */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.dropdown-menu {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  color: black;
}


.menu {
  display: flex;
  list-style: none;
  justify-content: center; 
  align-items: center;
  flex-grow: 1;
}

.menu li {
  margin-left: 40px;
}
.menu li::before{content: none}

a {
  text-decoration: none;
  color: #000 !important;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 20px !important;
}

a:hover {
  color: #a72121 !important;
}

.sticky-container {
  position: relative;
}

.sticky {
  position: relative;
  z-index: 0;
  transform: translate3d(0, 0, 0);
  top: 1px;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .sticky-nav {
    position: sticky;
    top: 0;
  }
  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icon {
    display: block;
  }
  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-bar-right{
    display: flex;
    justify-content: space-between;
  }
  .dropdown-menu {
    flex-direction: column;
    display: none;
    width: 100%;
  }
  .dropdown-menu.active {
    display: flex;
  }
  .menu {
    width: 100%;
  }
  .menu li {
      margin-left: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .slogan {
    flex-direction: column; 
    align-items: flex-start; 
  }
.menu-title{
  font-size: 2.5em !important;
  margin: 0;
  margin-top: 5px;
}
  .left-title, .right-title {
    width: 100%; 
    text-align: left; 
 
  }
.marg-right{
  text-align: left;
  margin-top: -20px;
}
  .right-title {
    text-align: center; 
  }
  .dropdown-menu.active a:hover {
    color: #a72121 !important;
  }
  
}

@media (min-width: 768px) {
  .sticky-nav {
    position: relative;
  }
  .title-bar {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .dropdown-menu {
    display: flex;
  }
  .menu {
    display: flex;
  }
}
@media (max-width: 768px) {
  .right-title{
  margin-top: -50px;
  margin-bottom: -25px;
  }
  .right{
    font-size: 24px;
  }
  
}